<app-avatar
  [isCurrentPlayer]="currentUserId === PLAYER_ONE_ID"
  [label]="'Player one'"
  [subtitle]="calculateCurrentUserSubLabel()"
  [gameStarted]="gameStarted"
></app-avatar>

<app-avatar
  [isCurrentPlayer]="currentUserId === PLAYER_TWO_ID"
  [label]="'Player two'"
  [subtitle]="calculateSecondUserSubLabel()"
  [gameStarted]="gameStarted"
></app-avatar>

<div class="mdl-card__actions mdl-card--border">
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
    (click)="onStartGameHandler()"
    [disabled]="gameStarted"
  >
    Start game
  </button>
  <button
    class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect"
    [disabled]="gameStarted && currentUserId !== NO_PLAYER_SELECTED_ID"
    (click)="onJoinGame()"
  >
    Join game
  </button>
</div>
