<app-avatar
  [isCurrentPlayer]="currentUserId !== lastPlayingPlayerId"
  [theirTurn]="
    PLAYER_TWO_ID === lastPlayingPlayerId &&
    lastPlayingPlayerId == currentUserId
  "
  [label]="'Player one'"
  [subtitle]="calculateCurrentUserSubLabel()"
  [gameStarted]="currentUserId === PLAYER_ONE_ID"
  [winner]="winnerId === PLAYER_ONE_ID"
></app-avatar>

<app-avatar
  [isCurrentPlayer]="currentUserId !== lastPlayingPlayerId"
  [theirTurn]="
    PLAYER_ONE_ID === lastPlayingPlayerId &&
    lastPlayingPlayerId == currentUserId
  "
  [winner]="winnerId === PLAYER_TWO_ID"
  [label]="'Player two'"
  [subtitle]="calculateSecondUserSubLabel()"
  [gameStarted]="currentUserId === PLAYER_TWO_ID"
></app-avatar>

<div class="mdl-card__actions mdl-card--border">
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
    (click)="onStartGameHandler()"
    [disabled]="
      (!gameStarted && currentUserId !== NO_PLAYER_SELECTED_ID) ||
      secondUserId !== NO_PLAYER_SELECTED_ID
    "
  >
    Start game
  </button>
  <button
    *ngIf="secondUserId !== -1 && !gameStarted"
    class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect"
    (click)="onJoinGame()"
  >
    Join game
  </button>
</div>
