<div class="flc-layout--center">
  <div class="flc-game-board">
    <div
      class="board-col"
      *ngFor="let boardRow of gameBoard; let row = index"
      (click)="onClickHandler(row)"
    >
      <div
        *ngFor="let boardCol of gameBoard[row]; let col = index"
        [ngClass]="{
          'flc-game-piece': gameBoard[row][col] !== 0,
          'player-one-background': gameBoard[row][col] === 1,
          'player-two-background': gameBoard[row][col] === 2
        }"
      ></div>
    </div>
  </div>
</div>
