<div class="flc-layout--center board-padding">
  <div class="flc-game-board">
    <div
      class="board-col"
      *ngFor="let boardRow of gameBoard; trackBy: trackByRow; let row = index"
      (click)="onClickHandler(row)"
    >
      <div
        *ngFor="let boardCol of gameBoard[row]; trackBy: trackByRow"
        [ngClass]="{
          'flc-game-piece': boardCol !== 0,
          'player-one-background': boardCol === 1,
          'player-two-background': boardCol === 2,
          'winning-pieces': boardCol === 3
        }"
      ></div>
    </div>
  </div>
</div>
