<div class="flc-layout--center">
  <div class="flc-game-board">
    <div class="board-col">
      <!-- PIECES -->
    </div>
    <div class="board-col">
      <!-- PIECES -->
    </div>
    <div class="board-col">
      <!-- PIECES -->
    </div>
    <div class="board-col">
      <!-- PIECES -->
    </div>
    <div class="board-col">
      <!-- PIECES -->
    </div>
    <div class="board-col">
      <!-- PIECES -->
    </div>
    <div class="board-col">
      <!-- PIECES -->
    </div>
  </div>
</div>
